#### Jupyter magic functions allow you to replace a boilerplate code snippets with more concise one.
#### Magic functions are pre-defined functions(“magics”) in Jupyter kernel that executes supplied commands. 
#### There are two kinds of magics line-oriented and cell-oriented prefaced with % and %% respectively.
#### To enable the magic we need an ipython-sql library.
```shell
pip3 install pandas

pip3 install sqlalchemy # ORM for databases

pip3 install ipython-sql # SQL magic function

pip3 install pymysql mysql-connector-python
```

In [23]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%%sql sqlite://
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

Done.
1 rows affected.
1 rows affected.

[]

In [11]:
result = %sql select * from writer

 * sqlite://
Done.

In [33]:
df = result.DataFrame()
df.loc[df['first_name']=='William', ['first_name', 'last_name']]

  first_name    last_name
0    William  Shakespeare

In [34]:
%sql PERSIST df

 * sqlite://

'Persisted df'

In [35]:
%sql select * from df;

 * sqlite://
Done.

[(0, 'William', 'Shakespeare', 1616), (1, 'Bertold', 'Brecht', 1956)]

In [13]:
import pymysql
connection = pymysql.connect(host='localhost', user='root', password='123')
cursor = connection.cursor()

In [14]:
cursor.execute("show databases")
result = cursor.fetchall()
print(result)

(('information_schema',), ('mysql',), ('performance_schema',), ('sys',))

In [15]:
cursor.execute("select * from mysql.user")
result = cursor.fetchall()
print(result)

(('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*D6AEA920EA32409C33C0D5BDBF0A525C3D59526B', 'N', datetime.datetime(2018, 11, 9, 17, 9, 40), None, 'N'), ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'), ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'), ('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', b'', b'', b'', 0, 0, 0, 0, 'mysql_native_password', '*891CFA03F1463976A1DD04EDD16BECBC109A6630', 'N', datetime.datetime(2018, 11, 9, 17, 9, 43), None, 'N'))

In [16]:
cursor.execute("select * from mysql.db")
result = cursor.fetchall()
print(result)

(('localhost', 'performance_schema', 'mysql.session', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N'), ('localhost', 'sys', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y'))

In [17]:
cursor.close()
connection.close()

In [27]:
%%sql 

mysql+mysqlconnector://root:123@localhost/mysql

'Connected: root@mysql'

In [28]:
%%sql

select * from user;

 * mysql+mysqlconnector://root:***@localhost/mysql
4 rows affected.

[('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*D6AEA920EA32409C33C0D5BDBF0A525C3D59526B', 'N', datetime.datetime(2018, 11, 9, 17, 9, 40), None, 'N'),
 ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'),
 ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'),
 ('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*891CFA03F1463976A1DD04EDD16BECBC109A6630', 'N', datetime.datetime(2018, 11, 9, 17, 9, 43), None, 'N')]

In [33]:
import mysql.connector
from mysql.connector import Error
connection = mysql.connector.connect(host='localhost', database='mysql', user='root', password='123')
cursor = connection.cursor()
cursor.execute("select * from mysql.user")
record = cursor.fetchall()
print(record)

[('localhost', 'root', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*D6AEA920EA32409C33C0D5BDBF0A525C3D59526B', 'N', datetime.datetime(2018, 11, 9, 17, 9, 40), None, 'N'), ('localhost', 'mysql.session', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'), ('localhost', 'mysql.sys', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE', 'N', datetime.datetime(2018, 11, 9, 17, 9, 41), None, 'Y'), ('localhost', 'debian-sys-maint', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', '', '', '', '', 0, 0, 0, 0, 'mysql_native_password', '*891CFA03F1463976A1DD04EDD16BECBC109A6630', 'N', datetime.datetime(2018, 11, 9, 17, 9, 43), None, 'N')]